*{
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

body{
	background-color:#FFFFFF;
	height: 100%;
}


.navbar-default{
	background-color:#00BBFF;

}

.content {
	min-height: 400px;
}

.page-header h1 {
	margin: 0;
}

.container > footer p {
    text-align: center; /* centrer le footer */
}
   
.clearfix textarea {
	width: 400px;
	height: 300px;
}


.cacher_notif {
	display: block;
	float: right;
}

.article img {
	float: left;
	margin: 0 0.5em 0.5em 0;
}

.spacer {
	clear: both;
}

ul{
	list-style-type: none;
	margin-right: 25px;	
	
}

a{
	color: black;
}

a:hover{
	color:green;
}

h6{
	background-color:#33FF33;	
}

h5{
	text-decoration:none;
	font-size: 12px;
	background-color:#33AAFF;	
}

cacher_notif{
	display: block;
	float: right;
}

footer{
	
}
.recherche{
	color:Red;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}
#chargement {
	font-size: 4em;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 25%;
	width: 600px;
	margin-left: -300px;
}
#chargement-infos {
	text-align:right;
	white-space: nowrap;
	display: block;
	border-bottom:4px solid #000;
	width: 0%;
}
#containers {
	visibility: hidden;
}